<div id="navbar">
	<h1>Welcome, {{ current_user.name }}</h1>
	<div class="right">
		<span>Home</span> | <a href="" ng-click="logout()">Logout</a>
	</div>
</div>


<div id="dashWrap">
	<form ng-submit="create(bl)" id="createForm">
		<div ng-if="errors">
			<p class="error" ng-repeat="error in errors">{{ error.message }}</p>
		</div>

		<label>Title</label>
			<input type="text" placeholder="Title" ng-model="bl.title"><br>
		<label>Description</label>
			<input type="text" placeholder="Description" ng-model="bl.description"><br>
		<label>Tag Someone</label>
			<select ng-model="bl.tagged">
				<option value="{{ user.name }}" ng-repeat="user in users">{{ user.name }}</option>
			</select><br>
		<input type="submit" value="Add to List" class="btn">
	</form>

	<div id="users">
		<h2>List of Other Users:</h2>
		<ul>
			<li ng-repeat="user in users" ng-if="user._id != current_user._id">
				<a href="#/user/{{ user._id }}">{{ user.name }}</a>
			</li>
		</ul>
	</div>

	<div id="bucketList" class="fw">
		<h2><u>My BucketList:</u></h2>
	<table>
		<tr>
			<th class="c1"></th>
			<th class="c2">Tagged</th>
			<th class="c3">Title</th>
			<th class="c4">Description</th>
			<th class="c5">Created At</th>
		</tr>
		<tr ng-repeat="item in bucketList">
			<td>
				<img src="assets/img/empty.jpg" alt="check" ng-if="item.checked==false" ng-click="check($index)">
				<img src="assets/img/check.jpg" alt="check" ng-if="item.checked==true" ng-click="uncheck($index)">
			</td>
			<td>{{ item.tagged.name }}</td>
			<td>{{ item.title }}</td>
			<td>{{ item.description }}</td>
			<td>{{ item.created_at | date: shortDate }}</td>
		</tr>
	</table>
	</div>
</div>




