html, body{
	padding: 0px;
	margin: 0px;
}
*{
	font-family: sans-serif;
}
#wrapper{
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: auto;
	justify-content: space-around;
}

/* Full Width */
.fw{
	width: 100vw;
}

/* Nav Bar r*/
#navbar{
	width: 100%;
	background: lightgray;
	margin: 0px;
	margin-bottom: 30px;
	padding: 0px 30px;
}
#navbar h1{
	display: inline-block;
}
.right{
	float: right;
	margin-top: 30px;
}

/* Table */
table {
    border: 3px solid black;
    border-collapse: collapse;
}

th, td {
    border-left: 3px solid black;
    border-right: 3px solid black;
}
tr:nth-child(even) {background-color: #f2f2f2}
th {
    background-color: gray;
    color: white;
}

/* Inputs/Forms */
.btn{
	display: inline-block;
	margin: 25px;
	text-decoration: none;
	color: black;
	border-radius: 0px;
	border: 3px solid black;
	box-shadow: 4px 4px 0px black;
	background: white;
	font-size: 1em;
	padding: 4px;
}
.blue{
	background: blue;
	color: white;
}
.red{
	background: red;
	color: white;
}
input, textarea, select{
	border: 3px solid black;
	margin: 5px;
}
.error{
	color: red;
	background: pink;
	border: 3px solid red;
	border-radius: 5px;
	padding: 4px;
	line-height: 2.5em;
}


/*========== LOGIN =============*/
#login{
	width: 100vw;
	height: 100vh;
	text-align: center;
}
#login>*{
	margin-top: 40vh;
}

/*=========== DASHBOARD ===============*/
#dashWrap{
	flex: 0 0 750px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}
#dashboardFilter{
	text-align: right;
}
#createForm{
	border: 3px solid black;
	display: inline-block;
	width: 300px;
	padding: 20px;
}
#createForm label{
	display: inline-block;
	width: 150px;
}
#users{
	border: 3px solid black;
	display: inline-block;
	margin-left: 50px;
	width: 300px;
	padding: 20px;
}
#users li{
	line-height: 2em;
}
#bucketList{
	border: 3px solid black;
	display: inline-block;
	width: 700px;
	margin-top: 50px;
	padding: 20px;
}

/*============ Survey SHOW =============*/
#surveyTable{
	text-align: center;
}